<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties resource="db.properties" /> -->
	<typeAliases>
		<typeAlias type="com.homepage.gpcamp.model.Board" alias="board"/>
		<typeAlias type="com.homepage.gpcamp.model.BoardFile" alias="boardFile"/>
	</typeAliases>

	<mappers>
		<mapper resource="board/Board.xml" />
		<mapper resource="board/BoardFile.xml" />
	</mappers>
</configuration>